
<h1>Personal overview</h1>

<div class="box">
    <div class="request">
      <h2>Request are waiting</h2>

      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <div class="card-text">
              <h5>Toy name</h5>
              <p>Toy category with <strong>relevant info</strong> only.</p>
            </div>
            <div class="btn-on-the-side">
              <a class="btn btn-flat" href="#">Accept</a>
              <a class="btn btn-gradient" href="#">Decline</a>
            </div>
          </div>
      </div>

      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <div class="card-text">
              <h5>Toy name</h5>
              <p>Toy category with <strong>relevant info</strong> only.</p>
            </div>
            <div class="btn-on-the-side">
              <a class="btn btn-flat" href="#">Accept</a>
              <a class="btn btn-gradient" href="#">Decline</a>
            </div>
          </div>
      </div>
    </div>



    <div class="booking-recently">
      <h2>Your booking recently</h2>
      <% @bookings.all.each do |booking| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
              <h5><%= booking.toy.name %></h5>
              <p><%= booking.user.first_name %></p>
              <p>Start date: <%=booking.start_date %>, End date: <%=booking.end_date%> </p>
            </div>
        </div>
      <%end %>

      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h5>Toy name</h5>
            <p>Start date: 12/22/3333,End date: <%=  %> </p>
          </div>
      </div>
    </div>



</div>
