<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag("Logo.png") %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item nav-link active me-2">
            <%= link_to_unless_current "My Dashboard", bookings_path, class: "" %>
          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My Dashboard", bookings_path, class: "dropdown-item" %>
              <%= link_to "Add a Toy", new_toy_path, class: "dropdown-item" %>
              <%= link_to "Discover Toys", toys_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item nav-link me-2">
            <%= link_to_unless_current "Discover Toys", toys_path, class: "" %>
          </li>
          <li class="nav-item nav-link">
            <%= link_to_unless_current "Login", new_user_session_path, class: "" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
